:root {
    --main-font-size: 15px;
    --main-gap: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    height: 100svh;
    padding: 10%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--main-font-size);
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo img {
    height: 95px;
    /* width: 65px; */
}

form {
    max-width: 432px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 2px 2px 15px #c8c8c8;
    background-color: #fff;
}

form .title {
    padding: 15px;
    border-bottom: 1px solid #c8c8c8;
}

form .title h1,
form .title p {
    text-align: center;
}

form .title h1 {
    font-size: 25px;
}

form .title p {
    color: #606770;
}

main {
    padding: 15px;
}

.input-label {
    margin: 15px 0 5px 0;
    color: #606770;
    font-size: 14px;
}

.input-label i {
    color: #fff;
    font-size: 14px;
    background-color: #606770;
    border-radius: 50%;
    margin-left: 5px;
    transform: translateY(1px);
}

.name-details {
    display: flex;
    gap: var(--main-gap);
}

#fname,
#lname {
    flex: 1;
    padding: 13px;
    border: 1px solid #ccd0d5;
    border-radius: 7px;
}

::placeholder {
    font-size: var(--main-font-size);
    color: #8d949e;
}

.select-input {
    display: flex;
    justify-content: center;
    gap: var(--main-gap);
}

.input-design {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccd0d5;
    padding: 9px;
    border-radius: 7px;
}

select.input-design {
    font-size: var(--main-font-size);
    line-height: 16px;
}

select.input-design option {
    font-size: 16px;
}

.login-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.bottom-text {
    margin-top: 20px;
    color: #777777;
    font-size: 11px;
}

.form-container {
    text-align: center;
    margin-top: 22px;
}

.btn {
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 62px;
    text-shadow: none;
    cursor: pointer;
}

.form-container p {
    color: #1877f2;
    font-size: 17px;
    margin: 15px 0;
}

span.policy {
    color: #385898;
}
