* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(201, 201, 201);
    /* border: 1px solid red; */
}
/* header h1 {
    text-align: center;
} */

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid blue; */
}
main h3 {
    width: 80%;
    text-align: center;
    font-weight: 500;
    /* border: 1px solid blue; */
}
main button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #8bc1f7;
}
main button:hover {
    background-color: #619fdc;
}
main button:active {
    background-color: #a0caf4;
}
